<div class="main-container">
  <div class="add-user">
    <h2>User List</h2>
    <!-- Modal -->
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal"> + </button>
  </div>
  <div *ngFor="let user of userData" class="users-list">

    <div (click)="selectUser(user)" routerLink="/user-details" class="users-name">
      {{user.tourist_name}}
    </div>

    <div class="delete-btn">

      <button (click)="deleteUser(user.id)" class="btn btn-danger">Delete User</button>
      <button (click)="updateUser(user)" class="btn btn-success" data-bs-toggle="modal"
        data-bs-target="#exampleModal">Edit User</button>
    </div>

  </div>

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-fields">

          <form [formGroup]="userDetail">
            <label for="">Name</label>
            <input formControlName="tourist_name" type="text" [disabled]="userDetail.invalid" class="form-control"
              (keyup.enter)="createUser()">
            <label for="">Email</label>
            <input formControlName="tourist_email" type="text" [disabled]="userDetail.invalid" class="form-control"
              (keyup.enter)="createUser()">
            <label for="">Location</label>
            <input formControlName="tourist_location" type="text" [disabled]="userDetail.invalid" class="form-control"
              (keyup.enter)="createUser()">
          </form>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)="createUser()" [disabled]="userDetail.invalid" class="btn btn-success"
          data-bs-dismiss="modal">{{buttonName}}</button>
      </div>
    </div>
  </div>
</div>



<!-- Toaster  -->



